$mint-l:#48CFAD;
$mint-d:#37BC9B;
$yellow-l:#FFCE54;
$yellow-d:#F6BB42;
$gray-l:#F5F7FA;
$gray-d:#E6E9ED;
$blue-l:#5D9CEC;
$blue-d:#4A89DC;
$orange-l:#FC6E51;
$orange-d:#E9573F;

$creamy:#feda75;
$orange:#fa7e1e;
$pink-d:#d62976;
$blue:#4f5bd5;
$violet:#962fbf;

$dark-900:#212121;
$dark-800:#424242;
$dark-700:#616161;
$dark-600:#757575;
$portfolio-c:#16e1bd;
/* */
