@import "reset.scss";
/** body
    body
    body
**/

a:default,
a:link,
a:visited {
    color: white;
}

a:hover {
    color: white;
}

a {
    text-decoration: none;
}

.active__color:visited {
    color: #30BAE7;
}

.body {
    overflow-x: hidden;
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}

::selection {
    background-color: #643a79;
    color: white;
}

%container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

%container-fluid {
    width: 100%;
}

//containers
$xs: 250px;
$sm: 320px;
$md: 575.98px;
$lg: 767.98px;
$xl: 991.98px;
$xxl: 1199.98px;
@media (min-width: $md) {
    %container {
        max-width: 540px;
    }
}

@media (min-width: $sm) {
    %container {
        max-width: 720px;
    }
}

@media (min-width: $xl) {
    %container {
        max-width: 1146px;
    }
}

@media (min-width: $xxl) {
    %container {
        max-width: 1146px;
    }
}

.nav__container {
    @extend %container;
}

.nav {
    display: block;
z-index: 333;
    margin-top: 0;
    top: 0;
    background-color: #87509c;
    position: fixed;
    width: 100%;
}

.nav__brand {
    color: white;
    padding-top: 8px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    
}

.nav__hamburger {
    width: 30px;
    height: 30px;
    margin: 15px;
    padding: 0;
    border: none;
    border-top: 5px solid #fff;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    transition: 0.15s transform linear;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 34;
}

.nav__hamburger::after,
.nav__hamburger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
    transform: translateY(5px);
    transition: 0.15s transform linear;
}

.nav__hamburger::after {
    transform: translateY(15px);
}

.nav__list {
    color: white;
  
    width: 100%;
    height: auto;
    top: 0px;
    z-index: 33;
    position: relative;
    height: 0;
    display: none;
    
 
}

.nav__list--active {
    transform: translateX(0);
    display: block;
    height: 150px;
  
     // animation: slide 1s ease 3.5s forwards;
    
}


//@-prefix-keyframes slide {
 // from {height: 0;}
//  to {height: 300px;}
//}

.nav__item {
    text-align: center;
    font-size: 3em;
    border-bottom: 1px solid white;
    width: 100%;
}

.nav__item a,
.nav__item a:visited {
    text-decoration: none;
    color: #fff;
}

.site_nav__item:first-child {
    background-color: #643a79;
}

/** site
    site
    site
**/

/** nav
    nav
    nav
**/

/** header
    header
    header
**/

.header {
    background-color: #87509c;
    padding-top: 120px;
    padding-bottom: 60px;
    min-height: 80vh;
}

.header__container {
    @extend %container;
}

%h1 {
    font-size: 3.5em;
    line-height: 130%;
    font-weight: bolder;
}

%h2 {
    font-size: 3.2em;
    line-height: 130%;
    font-weight: bolder;
    padding-top: 30px;
}

%h3 {
    font-size: 2.9em;
    line-height: 130%;
    font-weight: 400;
    padding-top: 30px;
}

%h4 {
    font-size: 2.6em;
    line-height: 130%;
    font-weight: 400;
    padding-top: 30px;
}

%h5 {
    font-size: 2.4em;
    line-height: 130%;
    font-weight: 300;
    padding-top: 30px;
}

%h6 {}

%hr {
    height: 4px;
    width: 88px;
    background-color: black;
    opacity: 0.15;
    border: none;
    margin-top: 22px;
    margin-bottom: 22px;
}

%btn {
    height: 66px;
     font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px #c86a40;
    min-width: 200px;
    max-width: 293px;
    line-height: 66px;
}


.header__h1 {
    @extend %h1;
    text-align: center;
    color: white;

}

.header__button {
    @extend %btn;
    margin-top: 60px;


    background-color: #eb7d4b;
    color: white;




}

/** abt
    abt
    abt
**/

.abt {
    background-color: #17c2a4;
}

.abt__container {
    @extend %container;
}

.abt__grid {
    display: flex;
    flex-direction: column;
}

.abt__h2 {
    @extend %h2;
    text-align: center;
}

/** services
    services
    services
**/

.abt__h3 {
    @extend %h3;
    text-align: center;
}

.abt__h4 {
    @extend %h4;
}

.abt__description {
    @extend %h4;
}

.abt__hr {
    @extend %hr;
}



/** skills
    skills
    skills
**/

.skls {
    background-color: #d74680;
    color: white;
}

.skls__container {
    @extend %container;
}

.skls__h2 {
    @extend %h2;
    color: #3c4761;
    color: white;


    text-align: center;
}

.devicon,
.fa {
    font-size: 98px;
    display: flex;
    justify-content: center;
}

.fa-code {
    font-size: 20px;
}

.skls__h3 {
    @extend %h3;
    text-align: center;


    color: #3c4761; color: white;
}

.skls__hr {
    @extend %hr;
}

.skls__h4 {
    @extend %h4; color: white;
}

.skls__h5 {
    @extend %h5; color: white;
}

.skls__grid {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.skls__item {
    margin-bottom: 15px;
}



/** portfolio
    portfolio
    portfolio
**/

.prt {
    background-color: #ffdd99;
    padding-bottom: 60px;

}

.prt__container {
    @extend %container;
}

.prt__h2 {
    @extend %h2;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    
}

.prt__h3 {
    @extend %h3;
    text-align: center;
}

.prt__h4 {
    @extend %h4;
    text-align: center;
}

.prt__description {
    @extend %h4;
    text-align: center;
}

.prt__hr {
    @extend %hr;
}

.prt__grid {
    padding-top: 30px;
    display: grid;
  
    grid-template-rows: 1fr;
}

.prt__item {margin: 1px;}

.prt__img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.prt__button {
    @extend %btn;
    margin-top: 24px;
    background-color: #17c2a4;
    color: white;


    box-shadow: 0px 4px #14a58c;
    

}

.cntc {
    background-color: #3c5499;
    padding-bottom: 24px;
    color: white;
}

.cntc__container {
    @extend %container;
}

.cntc__h2 {
    @extend %h2;
    text-align: center;

}

.cntc__h3 {
    @extend %h3;
}

.cntc__h4 {
    @extend %h4;
}

.cntc__hr {
    @extend %hr;
}

.cntc__form {
    margin: 0 auto;
}

.cntc__inputsgroup {
    margin-top: 8px;

    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email] {
    width: 100%;
 font-size: 1.6em;
    margin-bottom: 28px;
    border: none;
    height: 56px;
    border-radius: 2px;
    color: white;
    background-color: #273a71;


    text-indent: 26px;
}





input::placeholder,
textarea::placeholder {
    color: white;
}

button[type=submit] {
    @extend %btn;
    background-color: #30bae7;
    color: white;
    /* position: relative; */
    text-align: center;
    /* border-radius: 3px; */
    /* border: none; */
    box-shadow: 0 4px #299ec5;
    margin-top: 16px;

}



.cntc__textarea {
    font-size: 1.6em;
    background-color: #273a71;
    width: 100%;
    min-height: 300px;
    resize: vertical;
    text-indent: 26px;
    background-color: #273a71;
    border-radius: 2px;
    color: white;
    border: none;
   
   
  
}



/** footer
    footer
    footer
**/

.footer {
    min-height: 60px;
    background-color: #344b8e;
    padding-bottom: 6px;



}









.footer__container {
    @extend %container-fluid;
}



.footer__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #344b8e;
}



.footer__link {

    margin-top: 22px;
    text-align: center;
    font-size: 2.2em;
    background-color: #344b8e
}

//grids
@media screen and(min-width:$md) {
    .abt__grid {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skls__grid {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skls__item {
        width: 50%;
    }
    .abt__item {
        width: 50%;
        
    }
    .cntc__inputsgroup{
        flex-direction: row;
    }
    input:first-child{
    margin-right: 14px}
    input:last-child{margin-left: 14px}
}


@media screen and (min-width:$lg) {
    .abt__grid {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .skls__grid {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skls__item {
        width: 50%;
    }
    .abt__item {
        width: auto;
    }
    .prt__grid {
        grid-template-columns: 1fr 1fr;
    }

    .prt__item {
        ;
    }
}

@media (min-width:$xl) {
    .nav__hamburger {
        display: none;
    }
    .nav__brand {
        float: left;
       
    }
    .nav__list {
        display: flex;
        justify-content: flex-start;
        float: right;
       
        width: auto;
        background-color: transparent;
        position: static;
    }
    .nav__item {
        display: list-item;
        width: auto;
        margin-left: 10px;
        margin-top: 15px;
        border: none;
       
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;

    }
    a.nav__link{padding-left: 6px; padding-right: 6px; border-radius: 4px;}
    a.nav__link:hover{
        
        background-color: #643a79; 
       
    }
    .footer__list{
        flex-direction: row;
      
    }
    .footer__link{width: 50%;}
}

@media (min-width:$xxl) {}
